@import url(https://fonts.googleapis.com/css?family=Lily+Script+One:regular);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: "open sans";
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fcf9ed;
    position: relative;
    flex: 1
}

/* !Head */
.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #ff7657;
    flex: 1;
    font-family: "lily Script one";
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8ffe5;
    color: #665C84;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    font-family: "Lily Script one";
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "lily Script one";
}

.nav div {
    font-family: "lily Script one";

}

.logout {
    background-color: #f8ffe5;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-family: "Lily Script One";
    color: #665C84;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


/* !Header End */

/* !Main container Starts */
.editContainer {
    flex: 10;
    display: flex;
    width: 100vw;

}

/* !left containing the history */
.left {
    flex: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.questions {
    background-color: #665C84;
    width: 80%;
    border-radius: 5px;
    flex: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    gap: 40px;

}

.question {
    background-color: #ff7657;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.questionBtn {
    width: 100%;
    display: flex;
    justify-content: space-around;

}


.right {
    flex: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.questionInput {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    min-height: 150px;
    background-color: #665C84;

    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.questionInput textarea {


    min-width: 90%;
    border: none;
    height: 90%;
    background-color: #665C84;
    outline: none;
    font-family: "open sans";
    color: #f8ffe5;
    font-size: 150%;

}

.addImg {

    width: 400px;
    height: 400px;
    background-color: #665C84;
    display: flex;
    align-items: center;
    justify-content: center;


}

.addImg button {

    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f8ffe5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.answers {
    width: 70%;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #665C84;
    gap: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.ans {
    min-width: 375px;
    background-color: #f8ffe5;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.ans textarea {
    border: none;
    min-width: 100%;
    border-radius: 10px;
    background-color: #f8ffe5;

    text-align: center;
    font-size: large;
    color: #665C84;



}